---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: rolebasedgroupwarmups.workloads.x-k8s.io
spec:
  group: workloads.x-k8s.io
  names:
    kind: RoleBasedGroupWarmUp
    listKind: RoleBasedGroupWarmUpList
    plural: rolebasedgroupwarmups
    shortNames:
    - rbgwarmup
    singular: rolebasedgroupwarmup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: PHASE
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: AGE
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RoleBasedGroupWarmUp is the Schema for the rolebasedgroupwarmups
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of RoleBasedGroupWarmUp
            properties:
              targetNodes:
                description: foo is an example field of RoleBasedGroupWarmUp. Edit
                  rolebasedgroupwarmup_types.go to remove/update
                properties:
                  imagePreload:
                    properties:
                      items:
                        items:
                          type: string
                        minItems: 1
                        type: array
                      pullSecrets:
                        items:
                          description: |-
                            LocalObjectReference contains enough information to let you locate the
                            referenced object inside the same namespace.
                          properties:
                            name:
                              default: ""
                              description: |-
                                Name of the referent.
                                This field is effectively required, but due to backwards compatibility is
                                allowed to be empty. Instances of this type with an empty value here are
                                almost certainly wrong.
                              type: string
                          type: object
                          x-kubernetes-map-type: atomic
                        type: array
                    required:
                    - items
                    type: object
                  nodeNames:
                    items:
                      type: string
                    type: array
                  nodeSelector:
                    additionalProperties:
                      type: string
                    type: object
                type: object
            type: object
          status:
            description: status defines the observed state of RoleBasedGroupWarmUp
            properties:
              active:
                format: int32
                type: integer
              completionTime:
                format: date-time
                type: string
              conditions:
                description: |-
                  conditions represent the current state of the RoleBasedGroupWarmUp resource.
                  Each condition has a unique type and reflects the status of a specific aspect of the resource.
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
              desired:
                format: int32
                type: integer
              failed:
                format: int32
                type: integer
              phase:
                type: string
              ready:
                format: int32
                type: integer
              startTime:
                format: date-time
                type: string
              succeeded:
                format: int32
                type: integer
            required:
            - phase
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
